/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --wit: #ffffff;
  --donkergrijs: #1b1d1f;
  --zwartgrijs: #141618;
  --knopgrijs: #303133;
  --blauw: #006cff;
  --bordergrijs: #ffffff54;
  --hovergrijs: #6c6d6e;
}

body {
  background-color: var(--donkergrijs);
  margin: 0em;
}

main {
  color: var(--wit);
  font-family: Roboto;
}

.logo_mobiel {
  width: 17.36em;
  height: 6.25em;
}

img {
  width: 100vw;
  height: 16.25em;
  object-fit: cover;
}
/* Verbergt het menu en wordt pas weergegeven als er op de hamburger wordt geklikt */
#myLinks {
  display: none;
}

/* Style the navigation menu */
header nav {
  overflow: hidden;
  background-color: var(--zwartgrijs);
  position: relative;
  border-bottom: 0.5px solid var(--bordergrijs);
  padding: 1.56em 1.87em;
}

/* styling van linkjes in de header */
header nav section a {
  font-size: 1.56em;
  font-family: Poppins;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: var(--wit);
  padding: 0.3em;
}

/* Style the hamburger menu */
header nav a.icon {
  background: var(--zwartgrijs);
  display: block;
  position: absolute;
  right: 0;
  top: 3em;
  font-size: 1.56em;
  padding: 0.3em 0.87em 1em;
  color: var(--wit);
}

@media screen and (max-width: 959px) {
  /* flex styling van lijst met menu items */
  header nav section ul:first-of-type {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
  }

  /* flex styling van lijst met social icons */
  header nav section ul:nth-of-type(2) {
    display: flex;
    font-size: 1.12em;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
  }
}

/* hover kleur voor alle linkjes in de header */
header nav section ul a:hover {
  color: var(--hovergrijs);
}

/* active kleur voor link met deze class */
.active {
  color: var(--hovergrijs) !important;
}

/* Standaard onzichtbaar logo groot */
header nav .logo_groot {
  display: none;
}

/* Standaard padding artikelen */
main section article {
  padding-left: 1.87em;
  padding-bottom: 3.1em;
  padding-right: 4.68em;
}
/* Grootte artikeltitels */
main section article h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2.08em;
  font-weight: 700;
}

/* Grootte artikeltekst */
main section article p {
  font-family: "Roboto", sans-serif;
  font-size: 0.93em;
  line-height: 1.8em;
}

/* standaard 1 kolomstructuur */
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

/* media query tweekolomstructuur */
@media screen and (min-width: 759px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }

  /* aangepaste grootte afbeeldingen tweekolomstructuur */
  img {
    width: 100%;
    height: 21.87em;
  }
}

/* derde kolom onzichtbaar standaard */
footer nav section:nth-of-type(3) {
  display: none;
}

/* media query flexbox layout */
@media screen and (min-width: 960px) {
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /* Flexbox navigatie menu en stylingen */
  header nav #myLinks {
    display: flex !important ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 0.5px solid var(--bordergrijs);
    width: 100vw;
  }

  header nav ul {
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    margin-bottom: -0.62em;
  }

  header nav li a {
    font-size: 0.9em;
    font-family: Poppins;
    padding: 0em 0.81em;
  }

  header nav li a i {
    font-size: 1.4em;
  }

  /* weergave logo groot */
  header nav .logo_groot {
    display: flex;
    width: 25.87em;
    height: 9.37em;
  }

  /* hamburgermenu icoon onzichtbaar */
  .logo_mobiel,
  header nav .fa-bars {
    display: none;
  }

  /* driekolomstructuur */
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* grootte afbeeldingen driekolomstrucuur */
  img {
    width: 100%;
    height: 33em;
  }

  /* Flexbox layout footer */
  footer nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 13em;
  }

  /* Derde kolom footer wordt hier zichtbaar gemaakt */
  footer nav section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
  }

  /* maakt footer relative zodat elementen gepositioneerd kunnen worden */
  footer {
    position: relative;
  }

  /* Flexbox layout artikelen footer */
  footer article:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 0.62em;
    position: absolute;
  }

  footer article:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0.62em;
    top: 25em;
  }
}

/* Footer kleur */
footer {
  background-color: var(--zwartgrijs);
  padding: 3.12em;
}

/* Footer flex layout navigatie */
footer nav section h3,
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Footer titels grootte en font */
footer nav section h3 {
  font-family: Roboto;
  font-size: 1.06em;
  padding-bottom: 0.62em;
}

footer article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
footer article p {
  font-family: Roboto;
  font-size: 0.81em;
  text-decoration: none;
  color: var(--wit);
  padding-right: 0.62em;
}

/* Styling link teksten */
footer article a {
  font-family: Roboto;
  font-size: 0.81em;
  text-decoration: none;
  color: var(--wit);
}

footer article:nth-of-type(2) ul {
  display: flex;
  font-size: 1.12em;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

footer article:nth-of-type(2) li {
  padding: 0.62em;
  font-size: 1.12em;
}

footer article:nth-of-type(2) i {
  font-size: 1.12em;
}

/* Footer blauwe lijnen */
footer nav section hr {
  width: 5.93em;
  border: 1px solid var(--blauw);
  margin-bottom: 1.87em;
}
footer nav section ul {
  list-style-type: none;
}
footer nav section ul li a {
  font-family: Roboto;
  font-size: 0.87em;
  text-decoration: none;
  padding-right: 2.5em;
  color: var(--wit);
  line-height: 2.2em;
}

/* Footer pijl iconen ingeladen vanuit fontawesome */
.fa-arrow-right {
  font-size: 0.56em;
  padding-right: 1.25em;
}

/* Media query flexbox layout */
@media screen and (min-width: 570px) {
  footer nav {
    display: flex;
    align-items: flex-start;
  }

  footer nav section {
    padding-right: 3.12em;
  }

  footer nav section ul li a {
    padding: 0em;
  }
}

/* Class voor body tweede pagina en toevoeging achtergrondkleur */
.latest {
  background-color: var(--donkergrijs);
  margin: 0em;
}

/* 1 kolomstructuur */
.wrapperlatest {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 1.87em;
}

/* Artikel relatieve waarde */
.wrapperlatest article {
  position: relative;
  padding: 0.93em;
}

/* Styling afbeeldingen */
.latest article img {
  border: 1px solid var(--wit);
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  opacity: 0.2;
}

/* Hover opactity effect thumbnails */
.latest article img:hover {
  opacity: 1;
}

/* Titels thumbnail positie en styling */
.latest article h3 {
  font-family: Poppins;
  font-size: 1.06em;
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  bottom: 60%;
  text-align: center;
  padding: 0.62em;
  padding-bottom: 1.87em;
}

/* Thumbnail buttons styling en positie */
.latest article button {
  font-family: Poppins;
  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 0.81em 1.93em;
  color: var(--knopgrijs);
  text-transform: uppercase;
  border-radius: 10em;
  cursor: pointer;
  outline: none;
  transform: scale(1) translateX(50%);
  position: absolute;
  top: 50%;
  right: 50%;
}

/* Media query tweekolomstructuur */
@media screen and (min-width: 493px) {
  .wrapperlatest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1.87em;
  }

  /* posititie button op dit formaat */
  .latest article button {
    top: 60%;
    padding: 1em;
  }
}

/* Media query */
@media screen and (min-width: 577px) {
  /* Titel styling en positie */
  .latest article h3 {
    font-family: Poppins;
    font-size: 1.25em;
    position: absolute;
    top: 0.62em;
    text-align: center;
  }

  /* Button styling en positie */
  .latest article button {
    font-family: Poppins;
    font-size: 0.75em;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding: 0.81em 1.93em;
    color: var(--knopgrijs);
    text-transform: uppercase;
    border-radius: 10em;
    cursor: pointer;
    outline: none;
    transform: scale(1) translateX(50%);
  }
}

/* Media query met font formaat button */
@media screen and (min-width: 750px) {
  .latest article h3 {
    font-size: 1.81em;
  }
}

/* Media query met fontgrootte button */
@media screen and (min-width: 1000px) {
  .latest article h3 {
    font-size: 1.81em;
  }
}

/* Media query met 4 kolomstructuur */
@media screen and (min-width: 1213px) {
  .wrapperlatest {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 1.87em;
  }

  /* button font kolom formaat */

  .latest article h3 {
    font-size: 1.5em;
  }
}
